@use 'config';

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  margin: 0 auto;

  .main-content {
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    .img img {
      @media screen and (min-width: 768px) {
        width: 400px;
      }
    }
    .section-content {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .text-wrapper h2 {
        text-transform: uppercase;
        letter-spacing: 1.2px;
        font-size: 1rem;
      }
      .text-wrapper h1 {
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        font-size: 2rem;

        background: linear-gradient(
          274deg,
          config.$c-gradient-primary -37.86%,
          config.$c-gradient-secundary 125.4%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .form-content {
        width: 18.75rem;
        display: flex;
        align-items: center;
        justify-content: center;

        input {
          border: none;
          outline: 0;
        }
        #mail {
          width: 250px;
          padding: 9px;
          border-radius: 4px 0 0 4px;
          border: 0.5px solid #b7b7b7;

          transition: border 0.2s ease;

          &::placeholder {
            color: config.$c-text-secundary;
          }

          &:focus {
            border: 0.5px solid config.$c-gradient-primary;
          }
        }
        #subscribe-btn {
          text-transform: uppercase;
          margin-left: -3px;
          padding: 10px;
          border-radius: 0px 4px 4px 0;
          background: linear-gradient(
            274deg,
            config.$c-gradient-primary -37.86%,
            config.$c-gradient-secundary 125.4%
          );
          cursor: pointer;
          color: #ffff;
          font-weight: 700;
        }
      }
    }

    @media screen and (min-width: 768px) {
      width: 700px;
      flex-direction: row;
      gap: 2rem;
    }
  }

  .footer-content {
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: config.$c-text-secundary;
  }
}
